<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigGPT - Q</title>


</head>
<body>
    <div class="container">
        <div class="left">
            <div class="header">
                <h1 class="animation a1">BigGPT - Q</h1>
                <h4 class="animation a2">Explore the capabilities !!</h4>
            </div>
            <form action="/analyze" method="post" enctype="multipart/form-data">
                <div class="form">
                    <input type="text" name="project" class="form-field animation a3" placeholder="Kindly provide your Project name">
                    <input type="text" name="dataset" class="form-field animation a3" placeholder="Kindly provide your Dataset name">
                    <input type="text" name="table" class="form-field animation a3" placeholder="Kindly provide your Table name">
                    <br>
                    
                    <input type="file" id="jsonFile" name="jsonFile" accept=".json">
                    <br>
                    <button type="submit" class="animation a6">Analyze</button>
                </div>
            </form>
        </div>
        <div class="right"></div>
    </div>
</body>
</html>
